<%= form_for @movie do |f| %>
  <div>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </div>
  <div>
  <%= f.label :description %>
  <%= f.text_area :description %>
  </div>
  <div>
  <%= f.label :year_released %>
  <%= f.number_field :year_released, min: 1886, max: Date.today.year %>
  </div>
  <%= f.submit %>
<% end %>
